@font-face {
    font-family: bricolage;
    src: url(fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}
@font-face {
    font-family: inter;
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: roboto;
    src: url(fonts/RobotoSlab-VariableFont_wght.ttf);
}
body {
    background-color: #ffffff;
    font-family: inter, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    
}
main {
    color: #000;
}
header {
    background-color: #1b1b1b;
    width: 100%;
    height: 90px;
    padding: 1px;
    padding-right: 100px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}
footer{
    background-color: #1b1b1b;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column; /*para deixar os itens emplilhados na vertical*/
    justify-content: space-between;
    font-family: roboto;
    justify-content: center;
}
.h1-footer{
    display: flex;
    justify-content: center;
    color: #FFF;

}
.button-footer{
    background-color: #C4AA06;
    border-radius: 50px;
    height: auto;
    width: 2%;
    display: block;
    margin: 0 auto;
}
.button-header{
    margin: 0 20px; /*separar os buttons*/
    padding: 7px;
    border-radius: 20px;
    background-color: transparent;
    border: transparent;
    color: white;
}
.button-header:hover{
    color: #C4AA06;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: flex-end;
}

.h1 {
    font-family: roboto;
    font-size: 35px;
    padding-left: 300px;
    color: #FFF;
}
.img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}
.img-nos{
    width: 85%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 70px;
}
