@font-face {
    font-family: bricolage;
    src: url(fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}
@font-face {
    font-family: inter;
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}
body {
    background-color: #DEDEDE;
    font-family: inter, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    
}
header {
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    display: flex;
    justify-content: flex-end;
    
}
button{
    font-family: brincolage, Helvetica, sans-serif;
    margin-right: 20px;
    font-family: brincolage, Helvetica, sans-serif;
    font-weight: 600;
    padding: 6px;
    border-radius: 40px;
    border: 9px solid transparent;
}
button:hover {
    background-color: #8F8F8F;
    color: #fff;
    cursor: pointer;
}
.h1- {
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    padding-top: 50px;
}
h1 {
    font-family: brincolage, Helvetica, sans-serif;
}